<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <meta charset="utf-8">
    <title>欢迎来到我的主页</title>
    <link rel="stylesheet" href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
<body>
    
    <!--============  导航栏  ===============-->
    <div class="banner">
        <a href="/big" >首页</a>
        <a href="/me" >个人中心</a>
        <a href="/workroom" >个人工作室</a>
        <a href="/recommend">宝藏推荐</a>
        <a href="/dress">我的装扮</a>
        <a href="/play">假期畅玩攻略</a>
        
    </div>
    
    <h3>欢迎来到我的编程世界</h3>

    <!--===========  轮播图  ==============-->
    <div class="lun">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval=2000 >
            <div class="carousel-inner">
                <div class="carousel-item ">
                    <img src="/static/images/pic1.png" class="d-block w-100" >
                </div>
                <div class="carousel-item active">
                  <img src="/static/images/pic2.png" class="d-block w-100" >
                </div>
                <div class="carousel-item">
                  <img src="/static/images/pic3.png" class="d-block w-100" >
                </div>
            </div>
        </div>
    </div>    

</body>
</html>