<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>欢迎来到学而思编程</title>
    <link rel="stylesheet" href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/box.css">

</head>

<body>
    <div class="row">
        <!--第1个盲盒带美化样式-->
        <div class="col-3">
            <a href="/result?sign=盲盒1">选我</a>
        </div>

        <!--第2个盲盒带美化样式-->
        <div class="col-3">
            <a href="/result?sign=盲盒2">选我</a>
        </div>

        <!--TODO:仿照上面代码，创建使用变量名sign携带数据盲盒3的超链接-->
        <!--第3个盲盒带美化样式-->
        <div class="col-3">
            <a href="/result?sign=盲盒3">选我</a>
        </div>

        <!--第4个盲盒带美化样式-->
        <div class="col-3">
            <a href="/result?sign=盲盒4">选我</a>
        </div>

    </div>

    <div class="row">
        <div class="col-3">
            <a href="/result?sign=盲盒5">选我</a>
        </div>
        <div class="col-3">
            <a href="/result?sign=盲盒6">选我</a>
        </div>
        <div class="col-3">
            <a href="/result?sign=盲盒7">选我</a>
        </div>
        <div class="col-3">
            <a href="/result?sign=盲盒8">选我</a>
        </div>
    </div>

</body>
</html>