<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>我的装扮</title>
    <canvas style="position: absolute;"></canvas>
    <script src="/static/js/js1.js"></script>
    <link rel="stylesheet" href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/dress.css">
</head>
</head>
    <body>
        <div class="banner">
            <img src="/static/images/pic4.jpg" class="banner_img">
        </div>
    
        <br>
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g1.gif" class="card-img-top" alt="...">
                    
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g2.gif" class="card-img-top" alt="...">
                   
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g3.gif" class="card-img-top" alt="...">
                   
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g4.gif" class="card-img-top" alt="...">
                   
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g5.gif" class="card-img-top" alt="...">
                  
                </div>
            </div>
            <div class="col-1"></div>
     </div>
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g6.gif" class="card-img-top" alt="...">
                
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g7.gif" class="card-img-top" alt="...">
                 
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g8.gif" class="card-img-top" alt="...">
                  
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g9.gif" class="card-img-top" alt="...">
                  
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g10.gif" class="card-img-top" alt="...">
                  
                </div>
            </div>
            <div class="col-1"></div>
     </div>
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g11.gif" class="card-img-top" alt="...">
                   
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g12.gif" class="card-img-top" alt="...">
                    
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g13.gif" class="card-img-top" alt="...">
                 
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g14.gif" class="card-img-top" alt="...">
                   
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g15.gif" class="card-img-top" alt="...">
                   
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g17.gif" class="card-img-top" alt="...">
                    
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g16.gif" class="card-img-top" alt="...">
                    
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g18.gif" class="card-img-top" alt="...">
                 
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g19.gif" class="card-img-top" alt="...">
                   
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g20.gif" class="card-img-top" alt="...">
                   
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g21.gif" class="card-img-top" alt="...">
                    
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g22.gif" class="card-img-top" alt="...">
                    
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g23.gif" class="card-img-top" alt="...">
                  
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g24.gif" class="card-img-top" alt="...">
                    
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g25.gif" class="card-img-top" alt="...">
                    
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        
        
        <br>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g26.gif" class="card-img-top" alt="...">
                    
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g27.gif" class="card-img-top" alt="...">
                  
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                  <img src="/static/images/g28.gif" class="card-img-top" alt="...">
                  
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g29.gif" class="card-img-top" alt="...">
                  
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="/static/images/g30.gif" class="card-img-top" alt="...">
                   
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        

</body>
</html>