<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>我在C站发视频</title>
    <!--  导入CSS样式和特效 
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
    <canvas></canvas>
    <script  src="../static/js/script1.js"></script>  -->
</head>
<body>
    <!--
    <h1>搜索网站</h1>
    <form action="/search">
        <input name="word" id="txt" placeholder="--- 请输入想要搜索的内容 ---" >
        <button class="button button1">搜 索</button>
    </form>
    -->
    <a href="/video?id=0001">当你遇见电脑蓝屏时的反应</a>
    <p></p>
    <a href="/video?id=0002">当Windows蓝屏出现在了广告牌里</a>
    <p></p>
    <a href="/video?id=0003">我的装扮</a>
    <p></p>
    <a href="/video?id=0004">我的装扮</a>
    <p></p>
    <a href="/video?id=0005">我的装扮</a>
    <p></p>
    <a href="/big">大规模网站</a>
    <p></p>
    <a href="/box">欢乐盲盒</a>
</body>
</html>


