<!DOCTYPE html>
<html lang="ja">
<html>
    <head>
        <meta charset="utf-8">
        <title>个人中心</title>
        <link rel="stylesheet" href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/me.css">
    </head>
<body>
    <div class="row dd">
        <div class="col-5">
            <img src="/static/images/me1.png">
        </div>
        <div class="col-7">
            <h3 class="change">太空奥特曼</h3>
            <br>
            <p>星座：双鱼座</p>
            <p>爱好：吃饭睡觉打豆豆</p>
            <p>最爱的食物：0分熟的牛排</p>
            <p>最爱的运动：躺着</p>
            <p>最爱的颜色：五彩斑斓的黑</p>
            <p class="change">通知：工作室招新！</p>
            <p class="change">感兴趣的小伙伴赶紧来哦！名额有限！</p>
        </div>
    </div>
</body>  
</html>