<!DOCTYPE html>
<html lang="ja">
<html>
<head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/play.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>假期畅玩攻略</h1>
<!--=============================轮播图====================================================-->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval=2000> 
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/images/旅游景点.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/images/生活美食.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/images/书籍.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/images/影视大作.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
<!--===================================================================-->

    
    <h2>值得吃-美食</h2>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <a href = "https://you.ctrip.com/fooditem/beijing1/7756400-p1.html"> 
                  <img src="/static/images/烤鸭.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">烤鸭</p>
                  </div>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <a href = "https://www.dianping.com/beijing/ch10/r2184g219"> 
                  <img src="/static/images/小龙虾.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">小龙虾</p>
                  </div>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <a href = "https://www.dianping.com/search/keyword/2/0_%E7%83%A7%E7%83%A4"> 
                  <img src="/static/images/烧烤.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">烧烤</p>
                  </div>
                </a>
            </div>
        </div>
    </div>
    
    <h2>值得看-影视</h2>
    <div class="row">
         <div class="col-4">
           <div class="card">
                <a href = "https://www.bilibili.com/bangumi/play/ep386583?theme=movie&from_spmid=666.7.recommend.1"> 
                  <img src="/static/images/你的名字.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">你的名字</p>
                  </div>
                </a>
            </div>
        </div>
        <div class="col-4">
           <div class="card">
                <a href = "https://www.douyin.com/video/7040092265636728077"> 
                  <img src="/static/images/三只熊.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">三只熊</p>
                  </div>
                </a>
            </div>
        </div>
        <div class="col-4">
           <div class="card">
                <a href = "https://www.douyin.com/video/7035542133457145100"> 
                  <img src="/static/images/海绵宝宝.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">海绵宝宝</p>
                  </div>
                </a>
            </div>
        </div>
    </div>
    
    <h2>值得读-小说</h2>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <a href = "https://www.zhihu.com/pub/reader/119561089/chapter/1137599351525306368"> 
                  <img src="/static/images/老舍.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">老舍小说</p>
                  </div>
                </a>
            </div>
        </div>
        
        
        <div class="col-4">
            <div class="card">
                <a href = "http://www.youyiyan.com/book/328.html"> 
                  <img src="/static/images/洛阳.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">《风起洛阳》</p>
                  </div>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <a href = "https://tvzhishi.com/11987_11987550/133859010.html"> 
                  <img src="/static/images/知否.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">《知否知否应是绿肥红瘦》</p>
                  </div>
                </a>
            </div>
        </div>
    </div>

    <h2>值得逛-景点</h2>
    <div class="row">
         <div class="col-4">
            <div class="card">
                <a href = "https://you.ctrip.com/sight/beijing1/2045497.html"> 
                  <img src="/static/images/环球.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">环球度假区</p>
                  </div>
                </a>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card">
                <a href = "https://you.ctrip.com/sight/shanghai2/762.html"> 
                  <img src="/static/images/东方.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">东方明珠</p>
                  </div>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <a href = "https://you.ctrip.com/sight/chengdu104/4229.html"> 
                  <img src="/static/images/熊猫.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">大熊猫繁育研究基地</p>
                  </div>
                </a>
            </div>
        </div>
    </div>

</body>

</html>